# Entornos Node / React Native / Expo
node_modules/
npm-debug.log
yarn-error.log
.expo/
.expo-shared/

# Flutter/Dart
.dart_tool/
.packages
build/
.pub-cache/
.pub/
/build/

# Android
.gradle
/local.properties
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/assetWizardSettings.xml
/.idea/dictionaries
/.idea/libraries
/.idea/caches
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/

# iOS / macOS
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Variables de entorno y claves
.env
*.keystore
*.jks
GoogleService-Info.plist
google-services.json
